include ../bemto/bemto.pug
include ../mixins/index

+b('header').header.js-header
  section.container
    section.h-wrapper.h-wrapper_desktop
      .h-col1.h-col_desktop
      +e.logo(href="#").h-col1.h-col_desktop
        +e.logo-img(src="img/logo.png")
      +e('aside').curr.h-col1.h-col_desktop
        +e('p').curr-elem USD 66,95
        +e('p').curr-elem EUR 75,20
      +e('aside').lang.h-col1.h-col_desktop
        +e.lang-href(href="#") Eng
        +e.lang-href(href="#") Chn
      +e.main.h-col9.h-col_desktop
        +e.phone(href="tel:88001000159") 8-800-1000-159
        +b('nav').menu
          +e('ul').list
            +e.item
              +e.href._havesub._active(href="#") Компания
              +e('ul').sublist
                +e.sublist-item._spacer
                +e.sublist-item
                  +e.sublist-href(href="#") О компании
                +e.sublist-item
                  +e.sublist-href(href="#") Новости
                +e.sublist-item
                  +e.sublist-href(href="#") Кейсы
                +e.sublist-item
                  +e.sublist-href(href="#") Вакансии
                +e.sublist-item
                  +e.sublist-href(href="#") Фотогалерея
                +e.sublist-item._spacer
            +e.item
              +e.href._havesub(href="#") Услуги
              +e('ul').sublist
                +e.sublist-item._spacer
                +e.sublist-item
                  +e.sublist-href(href="#") Доставка
                +e.sublist-item
                  +e.sublist-href(href="#") Таможенное оформление
                +e.sublist-item
                  +e.sublist-href(href="#") Бухгалтерские услуги
                +e.sublist-item
                  +e.sublist-href(href="#") Юридические услуги
                +e.sublist-item
                  +e.sublist-href(href="#") Поиск поставщиков в&nbsp;Китае
                +e.sublist-item._spacer
            +e.item
              +e.href(href="#") Новости
            +e.item
              +e.href(href="#") Отзывы
            +e.item
              +e.href(href="#") Блог
            +e.item
              +e.href(href="#") Контакты
            +e.item._search
              +e.search(type="button", aria-label="Поиск") 
                span Поиск
            +e.item._tablet
              .header__lang
                a(href="#").header__lang-href Eng
                a(href="#").header__lang-href Chn
            +e.item._tablet
              +btn('Отследить груз', true, '#track')(class="header__btn btn")
        +btn('Отследить груз', true, '#track')(class="header__btn btn")
        +b.burger
          +e(type="button", aria-label="открыть мобильное меню").button.js-burger
            +e('span').button-meat
          +e('span').shadow