include bemto/bemto.pug
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        .h-wrapper
          .h-col1
          .h-col8.h-col_tablet-wide
            +b('section').text
              +e('span').bg(style="background-image: url('img/text-bg.jpg')")
              +b('section').breadcrumbs
                +e.href(href="#") Главная
                +e('span').delim / 
                +e.href(href="#") Кейсы
                +e('span').delim / 
              +e.content
                h1 Перевозка бетонных плит
                .news__elem-info
                  .news__elem-col
                    p.news__elem-info-title Клиент
                    p.news__elem-info-value Строительная компания «Владстрой»
                  .news__elem-col
                    p.news__elem-info-title Срок
                    p.news__elem-info-value 7 дней
                p Клиент заказал в Китае 3 000 тонн бетонных плит для строительства многоэтажных домов. Плиты в виду своих размеров и веса требовали особенных технологических условий погрузки и разгрузки.
                img(src="img/text2.jpg")
                p «СДМ-групп» организовала таможенное оформление, а также перегрузку плит с судна на машины, что заняло трое полных суток, и доставку в Хабаровск.
              p.news__elem-date 21 октября
              a(href="#").common__back Вернуться к списку статей
            
            +b('section').reviews
              +e('p').maintitle Отзывы наших клиентов
              +e('ul').list
                +e.item._wide
                  +e('p').item-name АО «УЭСК»
                  +e.item-text
                    p Компанией «СДМ-Групп» был проведен комплекс работ по таможенному оформлению поставляемых из КНР металлоконструкций для строительства линии электропередач. Высокий уровень квалификации специалистов компании «СДМ-Групп» и оперативное реагирование на возникающие изменения позволили нам осуществить проект в соответствии с разработанным графиком.
                  +e('p').item-from Исполняющий обязанности генерального директора Шагилиев Р. Р.
                  +e('p').item-date 08 февраля 2019
                +e.item._wide
                  +e('p').item-name ООО «Иннорус»
                  +e.item-text
                    p Главной отличительной чертой работы ООО «СДМ-Групп» является высокая организованность и оперативность сотрудников, готовность быстро реагировать на изменения обстоятельств. Все задачи выполняются вовремя, в строго обозначенные сроки и с отличным качеством.
                  +e('p').item-from Генеральный директор ООО «Иннорус» Попрядухин К. В.
                  +e('p').item-date 05 декабря 2018
                +e.item._wide
                  +e('p').item-name ООО «СтройТех»
                  +e.item-text
                    p Анализируя результаты совместной деятельности, можно с уверенностью сказать, что принцип работы «СДМ-Групп» основан на качественном оказании услуг, четком, оперативном и своевременном исполнении договорных обязательств вне зависимости от сезона, маршрута и эффективности перевозок.
                    p Главной отличительной чертой работы ООО «СДМ-Групп» является высокая организованность и оперативность сотрудников, готовность быстро реагировать на изменения обстоятельств. Все задачи выполняются вовремя, в строго обозначенные сроки и с отличным качеством.
                  +e('p').item-from Исполняющий обязанности генерального директора Шагилиев Р. Р.
                  +e('p').item-date 27 ноября 2018
              +e.toall(href="#") Все отзывы

          .h-col3.h-col_snews
            .news-side-wrapper.js-sticky-container
              +b('aside').news-side.js-sticky
                +e.inner.js-sticky-inner
                  +e('p').title Похожие кейсы
                  +e('ul').list
                    +e.item
                      +e.href(href="#") Таможенное оформление мотоцикла за 4 часа
                      +e('p').text Women’s World Record 2018  - грандиозный мотопробег, во время которого четыре мотоциклистки из США, Латвии, Швейцарии и России отправились в кругосветное путешествие по трем частям света на своих железных конях. 
                    +e.item
                      +e.href(href="#") Экспорт чайного гриба в Латвию
                      +e('p').text Известный приморский агрохолдинг нашел в Латвии покупателя на 5 тонн концентрата чайного гриба, однако по ряду причин посчитал нецелесообразным заключать с ним прямой контракт. 

    include layout/__footer
    include layout/__scripts