include bemto/bemto.pug
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        .h-wrapper
          .h-col1
          .h-col11.h-col_tablet-wide
            +b('section').breadcrumbs
              +e.href(href="#") Главная
              +e('span').delim / 
              +e.href(href="#") Компания
              +e('span').delim / 
              +e.href(href="#") Фотогалерея
              +e('span').delim / 
            +e.content
              h1 Название фотоальбома
              +b('section').gallery
                +e.elems.js-gallery
                  +e.elem
                    +e.elem-href(href="img/gallery1.jpg")
                      +e.elem-img(src="img/gallery1.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery2.jpg")
                      +e.elem-img(src="img/gallery2.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery4.jpg")
                      +e.elem-img(src="img/gallery4.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery3.jpg")
                      +e.elem-img(src="img/gallery3.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery5.jpg")
                      +e.elem-img(src="img/gallery5.jpg")
                  +e.elem
                    +e.elem-href(href="img/feat-bg1.jpg")
                      +e.elem-img(src="img/feat-bg1.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery2.jpg")
                      +e.elem-img(src="img/gallery2.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery4.jpg")
                      +e.elem-img(src="img/gallery4.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery1.jpg")
                      +e.elem-img(src="img/gallery1.jpg")
                  +e.elem
                    +e.elem-href(href="img/feat-bg1.jpg")
                      +e.elem-img(src="img/feat-bg1.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery3.jpg")
                      +e.elem-img(src="img/gallery3.jpg")
                  +e.elem
                    +e.elem-href(href="img/gallery5.jpg")
                      +e.elem-img(src="img/gallery5.jpg")
                  
                include layout/__pagination

                a(href="#").common__back Вернуться к списку альбомов

    include layout/__footer
    include layout/__scripts