include bemto/bemto.pug
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        .h-wrapper
          .h-col1
          .h-col11.h-col_tablet-wide
            +b('section').text._wide
              +e('span').bg(style="background-image: url('img/text-bg.jpg')")
              +b('section').breadcrumbs
                +e.href(href="#") Главная
                +e('span').delim / 
              +e.content
                h1 Отзывы
                +b('section').reviews
                  +e('ul').list
                    +e.item
                      +e.item-content
                        +e('p').item-name Корпорация развития дальнего востока
                        +e.item-text
                          p Компанией «СДМ-Групп» был проведен комплекс работ по таможенному оформлению поставляемых из КНР металлоконструкций для строительства линии электропередач. Высокий уровень квалификации специалистов компании «СДМ-Групп» и оперативное реагирование на возникающие изменения позволили нам осуществить проект в соответствии с разработанным графиком.
                        +e('p').item-date 08 февраля 2019
                      +e('aside').item-side
                        +e.item-img(src="img/rev1.jpg")
                        +e('p').item-from Исполняющий обязанности генерального директора Шагилиев Р. Р.
                    +e.item
                      +e.item-content
                        +e('p').item-name ООО «Зеленые листья»
                        +e.item-text
                          p Главной отличительной чертой работы ООО «СДМ-Групп» является высокая организованность и оперативность сотрудников, готовность быстро реагировать на изменения обстоятельств. Все задачи выполняются вовремя, в строго обозначенные сроки и с отличным качеством.
                        +e('p').item-date 05 декабря 2018
                      +e('aside').item-side
                        +e.item-img(src="img/rev2.jpg")
                        +e('p').item-from Генеральный директор ООО «Иннорус» Попрядухин К. В.
                    +e.item
                      +e.item-content
                        +e('p').item-name ОАО «Лукойл»
                        +e.item-text
                          p Анализируя результаты совместной деятельности, можно с уверенностью сказать, что принцип работы «СДМ-Групп» основан на качественном оказании услуг, четком, оперативном и своевременном исполнении договорных обязательств вне зависимости от сезона, маршрута и эффективности перевозок.
                          p Главной отличительной чертой работы ООО «СДМ-Групп» является высокая организованность и оперативность сотрудников, готовность быстро реагировать на изменения обстоятельств. Все задачи выполняются вовремя, в строго обозначенные сроки и с отличным качеством.
                        +e('p').item-date 27 ноября 2018
                      +e('aside').item-side
                        +e.item-img(src="img/rev3.jpg")
                        +e('p').item-from Исполняющий обязанности генерального директора Шагилиев Р. Р.
                    +e.item
                      +e.item-content
                        +e('p').item-name ООО «Билайн»
                        +e.item-text
                          p Компанией «СДМ-Групп» был проведен комплекс работ по таможенному оформлению поставляемых из КНР металлоконструкций для строительства линии электропередач. Высокий уровень квалификации специалистов компании «СДМ-Групп» и оперативное реагирование на возникающие изменения позволили нам осуществить проект в соответствии с разработанным графиком.
                        +e('p').item-date 08 ноября 2018
                      +e('aside').item-side
                        +e.item-img(src="img/rev4.jpg")
                        +e('p').item-from Исполняющий обязанности генерального директора Шагилиев Р. Р.
                    +e.item
                      +e.item-content
                        +e('p').item-name Почта России
                        +e.item-text
                          p Главной отличительной чертой работы ООО «СДМ-Групп» является высокая организованность и оперативность сотрудников, готовность быстро реагировать на изменения обстоятельств. Все задачи выполняются вовремя, в строго обозначенные сроки и с отличным качеством.
                        +e('p').item-date 05 октября 2018
                      +e('aside').item-side
                        +e.item-img(src="img/rev5.jpg")
                        +e('p').item-from Генеральный директор ООО «Иннорус» Попрядухин К. В.

                include layout/__pagination

    include layout/__footer
    include layout/__scripts