include bemto/bemto.pug
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        .h-wrapper
          .h-col1
          .h-col11.h-col_tablet-wide
            +b('section').text._wide
              +b('section').breadcrumbs
                +e.href(href="#") Главная
                +e('span').delim / 
              +e.content
                h1 Результаты поиска
                +b('section').search
                  +e('form').form
                    input(type="text", data-req="req", value="Грузоперевозки").common__input.common__input_wb
                    +e.sbm.btn(type="submit") Искать
                  +e('p').info По вашему запросу «Грузоперевозки» найдено 
                    span 19
                    |  страниц.
                  +e('ul').list
                    +e.item
                      +e.item-href(href="#") Теперь для хранения груза у нас есть складские комплексы в России и Китае
                      +e('p').item-text Компанией «СДМ-Групп» был проведен комплекс работ по таможенному оформлению поставляемых из КНР металлоконструкций для строительства линии электропередач. Высокий уровень квалификации специалистов компании «СДМ-Групп» и оперативное реагирование на возникающие изменения позволили нам осуществить проект в соответствии с разработанным графиком.
                    +e.item
                      +e.item-href(href="#") Рассчитаем выгодный способ поставки и таможенного оформления онлайн
                      +e('p').item-text Для успешного решения задач наших клиентов мы собрали команду из опытных специалистов. Большинство сотрудников CDM Group работало как в логистических провайдерах, так и в штате таможенных органах. 
                    +e.item
                      +e.item-href(href="#") Надежно. Выгодно. Быстро.
                      +e('p').item-text Это позволяет нам глубже понимать логистические процессы и обеспечивать клиентам максимальную оперативность и высокий уровень сервиса.
                    +e.item
                      +e.item-href(href="#") Таможенное оформление и доставка грузов от 100 кг из Европы и Азии
                      +e('p').item-text Для успешного решения задач наших клиентов мы собрали команду из опытных специалистов. Большинство сотрудников CDM Group работало как в логистических провайдерах, так и в штате таможенных органах. 
                    +e.item
                      +e.item-href(href="#") Рассчитаем выгодный способ поставки и таможенного оформления онлайн
                      +e('p').item-text Поэтому я недолго думал, в какой сфере развивать собственное дело - выбор пал на комплексные логистические услуги. С 2015 года наша компания обеспечивает перевозки и оформление любых типов грузов для компаний разных масштабов и отраслей.

                include layout/__pagination

    include layout/__footer
    include layout/__scripts