include bemto/bemto.pug
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        .h-wrapper
          .h-col1
          .h-col8.h-col_tablet-wide
            +b('section').text
              +e('span').bg(style="background-image: url('img/text-bg.jpg')")
              +b('section').breadcrumbs
                +e.href(href="#") Главная
                +e('span').delim / 
              +e.content
                h1 Очень большой заголовок первого уровня
                p До того, как основать свой бизнес, я почти десять лет работал в сфере международной логистики и таможенного оформления. Часто наблюдал, какие ошибки делают импортеры, и изумлялся, почему понятные мне вещи неочевидны компаниям, которые занимаются импортом продукции в Россию. Но каждый день я шел на работу с радостью, ведь я твердо убежден: логистика – одно из самых интересных и динамичных направлений деятельности.
                img(src="img/text.jpg")
                p Поэтому я недолго думал, в какой сфере развивать собственное дело - выбор пал на комплексные логистические услуги. С 2015 года наша компания обеспечивает перевозки и оформление любых типов грузов для компаний разных масштабов и отраслей.
                h2 Довольно таки большой заголовок второго уровня
                p Для успешного решения задач наших клиентов мы собрали команду из опытных специалистов. Большинство сотрудников CDM Group работало как в логистических провайдерах, так и в штате таможенных органах. Это позволяет нам глубже понимать логистические процессы и обеспечивать клиентам максимальную оперативность и высокий уровень сервиса.
                ul
                  li Морская доставка,
                  li авиадоставка,
                  li ЖД доставка,
                  li автодоставка,
                  li таможенное оформление,
                  li поиск поставщиков в Китае,
                  li бухгалтерские услуги,
                  li юридические услуги.
                p До того, как основать свой бизнес, я почти десять лет работал в сфере международной логистики и таможенного оформления. Часто наблюдал, какие ошибки делают импортеры, и изумлялся, почему понятные мне вещи неочевидны компаниям, которые занимаются импортом продукции в Россию. Но каждый день я шел на работу с радостью, ведь я твердо убежден: логистика – одно из самых интересных и динамичных направлений деятельности. 
                p Поэтому я недолго думал, в какой сфере развивать собственное дело - выбор пал на комплексные логистические услуги. С 2015 года наша компания обеспечивает перевозки и оформление любых типов грузов для компаний разных масштабов и отраслей.
                h3 Довольно таки большой, в несколько строк, заголовок третьего уровня
                p Поэтому я недолго думал, в какой сфере развивать собственное дело - выбор пал на комплексные логистические услуги. С 2015 года наша компания обеспечивает перевозки и оформление любых типов грузов для компаний разных масштабов и отраслей.
                table
                  thead
                    tr
                      th Способы доставки
                      th Дополнительные услуги
                  tbody
                    tr
                      td Морская доставка
                      td Таможенное оформление
                    tr
                      td Авиадоставка
                      td Поиск поставщиков в Китае
                    tr
                      td ЖД доставка
                      td Бухгалтерские услуги
                    tr
                      td Автодоставка
                      td Юридические услуги
                p Для успешного решения задач наших клиентов мы собрали команду из опытных специалистов. Большинство сотрудников CDM Group работало как в логистических провайдерах, так и в штате таможенных органах. Это позволяет нам глубже понимать логистические процессы и обеспечивать клиентам максимальную оперативность и высокий уровень сервиса.
          .h-col3.h-col_snews
            .news-side-wrapper.js-sticky-container
              +b('aside').news-side.js-sticky
                +e.inner.js-sticky-inner
                  +e('p').title Новости
                  +e('ul').list
                    +e.item
                      +e('p').date 03 декабря 2018
                      +e.href(href="#") Рассчитаем выгодный способ поставки и таможенного оформления онлайн
                      +e('p').text Для успешного решения задач наших клиентов мы собрали команду из опытных специалистов. Большинство сотрудников CDM Group работало как в логистических провайдерах, так и в штате таможенных органах. 
                    +e.item
                      +e('p').date 29 ноября 2018
                      +e.href(href="#") Надежно. Выгодно. Быстро.
                      +e('p').text Это позволяет нам глубже понимать логистические процессы и обеспечивать клиентам максимальную оперативность и высокий уровень сервиса.

    include layout/__footer
    include layout/__scripts