include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        .h-wrapper
          .h-col1
          .h-col8.h-col_tablet-wide
            +b('section').text
              +e('span').bg(style="background-image: url('img/text-bg.jpg')")
              +b('section').breadcrumbs
                +e.href(href="#") Главная
                +e('span').delim / 
              +e.content
                h1 Разводящая
                ul
                  li 
                    a(href="index") Главная
                  li 
                    a(href="text") Типовая текстовая
                  li 
                    a(href="vacancy") Вакансии
                  li 
                    a(href="cases") Кейсы
                  li 
                    a(href="case") Кейсы - один кейс
                  li 
                    a(href="news") Новости
                  li 
                    a(href="news-one") Новости - одна новость
                  li 
                    a(href="reviews") Отзывы
                  li 
                    a(href="search") Результаты поиска
                  li 
                    a(href="search-empty") Результаты поиска - ничего не найдено
                  li 
                    a(href="gallery") Фотогалерея
                  li 
                    a(href="gallery-one") Фотогалерея - один фотоальбом

          .h-col3.h-col_snews

    include layout/__footer
    include layout/__scripts