.breadcrumbs
  color #999
  mb 15px
  &__href
    color #999
    fontify 14px 400 18px
    border-bottom 1px solid
    transition .7s border
    &:hover
      border-color transparent
  &__delim
    display inline-block
    vertical-align top
    margin 1px 14px 0