.breadcrumbs
  color #999
  mb 12px
  &__href
    color #999
    fontify 14px 400 24px
    border-bottom 1px solid
    transition .7s border
    &:hover
      border-color transparent
  &__delim
    display inline-block
    vertical-align top
    margin 4px 14px 0