@media $LandscapeMaxFrom
  body.index
    .main,
    .header,
    .footer
      opacity 0
    .logo__wrapper
      opacity 0
      l 29px
    .banner
      w 0
      &__title
        opacity 0
        span
          db()
          pos relative
          oh()
          h 81px
        i
          pos relative
          b 100%
      &__bg
        opacity 0
      &__layer_blue
        w 0
      &__btn
        opacity 0
        b -30px
      &__down
        opacity 0

  body.index
    &.load
      pl 78px
      transition 1.3s .7s padding-left
      .main
      .header,
      .footer
        opacity 1
      .banner
        w 100%
        transition 1.3s .7s width
        &__bg
          opacity .35
          transition .7s 2s opacity
        &__title
          opacity 1
          transition 1s 2s opacity
          i
            b 0
            transition 1s 2s bottom
          span:nth-child(1)
            i
              transition 1s 2s bottom
          span:nth-child(2)
            i
              transition 1s 2.1s bottom
          span:nth-child(3)
            i
              transition 1s 2.2s bottom
        &__layer_blue
          w 100%
          transition 1.15s .85s width
        &__btn
          b 0
          opacity 1
          transition .7s 3s opacity, .7s 3s bottom
        &__down
          opacity 1
          transition .7s 3s opacity
      .main
        transition .7s opacity
      .logo__wrapper
        opacity 1
        l 39px
        transition .7s 3.7s opacity, .7s 3.7s left, .7s width
      .header,
      .footer
        transition .7s 3.7s opacity

  body:not(.index)
    pl 78px

@media (min-width:1001px) and (max-width:1600px)
  body.index
    .banner__title span
      h 64px
  body.index.load
    pl 63px
    .logo__wrapper
      l 24px
  body:not(.index)
    pl 63px

@media (min-width:1001px) and (max-width:1142px)
  body.index
    .banner__title span
      h 52px

.h-anim
  pos relative
  opacity .1
  b -20px
  transition 1s opacity, 1s bottom
  &[visible]
    b 0
    opacity 1
    .common__title:before
      l 10px
      t 10px

@keyframes line {
  from {
    background-position 40px 0
  }
  to {
    background-position -40px 0
  }
}