html,
body
  font-family $os
body
  overflow-x hidden
  bgc white
  &.index
    overflow-y scroll

.container
  w 100%
  max-width 1540px
  padding 0 50px
  margin 0 auto
  @media $lDesktopSmall
    max-width none
    ml -30px
    mr 30px
    padding 0
  @media $LandscapeMin
    ml 0
    mr 0
    padding 0 15px
  &_rel
    pos relative

.common
  &__title
    pos relative
    z-index 1
    font-family $lf
    c $blue
    fontify 72px 700 72px
    mb 5px
    @media $desktopMedium
      fontify 50px 700 50px
    @media $PortraitMedium
      fontify 40px 700 40px
    &_small
      fontify 48px 700 50px
    &:before
      content attr(data-text)
      pos absolute
      z-index -1
      color $shadow
      l 0
      t 0
      transition .7s 1s left, .7s 1s top
  &__sub
    display inline
    pos relative
    z-index 2
    c $blue
    fontify 21px 700 31px
    l 13px
    border-bottom 14px solid $shadow
    @media $desktopMedium
      fontify 18px 700 28px
    &-over
      max-width 370px
      @media $LandscapeMedium
        mb 35px
        max-width 100%
    span
      pos relative
      l -10px
      t 10px
      @media $LandscapeMedium
        br
          dn()
  &__back
    ib()
    c black
    fontify 16px 500 20px
    border-bottom 1px solid alpha($blue, .25)
    transition .7s border
    @media $lDesktopSmall
      fontify 15px 500 20px
    &:hover
      border-color transparent
  &__label
    db()
    c #999
    fontify 15px 400 26px
    mb 2px
    @media $lDesktopSmall
      fontify 14px 400 25px
    span 
      c $red
  &__input
    w 100%
    h 43px
    padding 0 20px
    border 1px solid #eaebf3
    bgc transparent
    color black
    font-family $os
    font-size 16px
    transition .7s border
    &:focus
      border-color $dark
  &__textarea
    w 100%
    h 123px
    padding 7px 20px
    border 1px solid #eaebf3
    resize none
    overflow hidden
    bgc transparent
    color black
    font-family $os
    fontify 16px 400 27px
    transition .7s border
    @media $lDesktopSmall
      fontify 15px 400 25px
    &:focus
      border-color $dark
  &__inperror
    dn()
    c $red
    fontify 12px 400 16px
  &__sbm
    cursor pointer
    font-family $os
    mt 5px
    border-radius 5px
  &__select
    h 36px
    bgc #fff
    border 2px solid #b6b6b6
    w auto
    cursor pointer
    transition .5s border
    &.warning
      border-color #ed1c24
  &__customfile
    w 100%
    h 43px
    padding 0 20px
    border 1px solid #eaebf3
    bgc transparent
    color black
    font-family $os
    font-size 16px
    transition .7s border
    @media $lDesktopSmall
      font-size 15px
    &:focus
      border-color $dark
  &__fileover
    pos relative
    & + &
      mt 20px
  &__file
    pos absolute
    w 0
    h 0
    l 0
    t 0
    opacity 0
    &name
      db()
      pos relative
      border 1px solid #eaebf3
      cursor pointer
      color $dark
      h 43px
      pl 43px
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      fontify 16px 400 41px
      transition .7s border-color
      @media $lDesktopSmall
        font-size 15px
      &.warning
        border-color $red
      &:hover
        border-color $dark
      &:before
        content ""
        pos absolute
        l 13px
        t 13px
        size 17px 16px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAQAAABaOFzUAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAxwJGC3Jfq7YAAABUElEQVQoz23Qv0uUAQDG8c+9p1BQi6JxwkHI+w+ES0PY1GBDnYVTcRYq9uoNQg02uTU0FIldQ6AUFeHULyLT1EEcgi68EtGlC9KDCAwyMOKq4XrpDvrOXx6e50mEXHbRL3eN+e4/BHKuKHppxLKUlKuS9UoiLCk7ouKkh0oeGXVfr0ptSos3KnisW7sT7jhjsjYpsKhHCvu80C3U4Z6s24JYSTatG3bUjFdCN62IJM3JSnsaK2Uf5Bz2UZ+98t6LBOZltXlWVXhn05BtBf0a5a2J/LbgnFbPqwpvbRnyRVG/QN6aYSVLBjWYryoUfBYpWzWAW/Y775i0yFwi/LcuZ9yCXcdNO6RVsz02rMQp8NpXF3wy45RGvdb91C7TUPf1DYFrfkjZ/ftvm51APddd0mVWM+iR8aC2S8yACTumpXUp6qztElPwxEGnHTDlrG9/AOmjXuxCPtAhAAAAAElFTkSuQmCC') no-repeat center
  &__row
    font-size 0
    & + &
      mt 14px
      @media $lDesktopSmall
        mt 11px
  &__cols
    df(flex-start, space-between)
    @media $PortraitMax
      flex-direction column
  &__col
    w calc(50% - 18px)
    @media $PortraitMax
      w 100%
      & + &
        mt 11px
  &__bottom
    mt 32px
    df(center, space-between)
    @media $PortraitMax
      flex-direction column
      align-items flex-start
      mt 20px
  &__submit
    flex-shrink 0
    @media $PortraitMax
      mt 20px
      
input.warning,
textarea.warning
  border-color $red

input::-webkit-input-placeholder
  color alpha(black, .5)
input::-moz-placeholder
  color alpha(black, .5)
input:-ms-input-placeholder
  color alpha(black, .5)