.services
  &__side
    pos fixed
    z-index 3
    right 0
    t calc(50% + 54px)
    transform translateY(-50%)
    @media $LandscapeMin
      dn()
    @media (max-height: 580px) 
      dn()
    &-list
      dfv()
      w 75px
    &-item
      pos relative
      df(center, flex-start)
      r 0
      h 100%
      bgc $blue
      transition .7s left
      &:nth-child(2n)
        bgc $gblue
      &:hover ^[-1]-hrefs
        max-width 280px
    &-iconover
      size 75px
      flex-shrink 0
      df(center, center)
    &-icon
      max-height 90%
      max-width 90%
    &-hrefs
      dfv(flex-start, center)
      pos absolute
      r 100%
      t 0
      h 100%
      max-width 0
      transition .7s max-width
      overflow hidden
      bgc inherit
    &-row
      padding 0 25px
      & + &
        mt 8px
    &-href
      white-space nowrap
      c white
      fontify 14px 500 18px
      border-bottom 1px solid alpha(white, .25)
      transition .7s border-color
      &:hover
        border-color transparent

  &__list
    df(stretch, space-between)
    flex-wrap wrap
    pt 9px
    pb 140px
    @media $desktopMin
      flex-direction column
    @media $LandscapeMax
      pb 100px
  &__item
    df()
    pos relative
    z-index 1
    oh()
    w calc(50% - 18px)
    padding 42px 73px 80px
    min-height 311px
    @media $lDesktopSmall
      w calc(50% - 16px)
    @media $desktopMax
      min-height 270px
      pb 42px
    &:not(:nth-child(1)):not(:nth-child(2))
      mt 36px
      @media $lDesktopSmall
        mt 30px
      @media $LandscapeMin
        mt 16px
    @media $desktopMin
      w 100%
      min-height inherit
      &:nth-child(2)
        mt 30px
    @media $LandscapeMax
      padding 30px 0 40px
    @media $LandscapeMin
      &:nth-child(2)
        mt 16px
    @media $PortraitMedium
      flex-direction column
    &:before
      content ""
      pos absolute
      z-index -1
      l 0
      t 0
      r 0
      b 0
      bgc $blue
      transition .7s left, .7s right, .7s top, .7s bottom
      @media $LandscapeMax
        bgc transparent
    &:hover:before
      l 30px
      r 30px
      t 13px 
      b 13px
    &-icon
      max-width 100%
      &over
        w 133px
        mr 36px
        flex-shrink 0
        mt 7px
        @media $lDesktopSmall
          w 100px
          mr 32px
        @media $PortraitMedium
          w 100%
          mr 0
    &-content
      w calc(100% - 169px)
      @media $lDesktopSmall
        w calc(100% - 132px)
      @media $PortraitMedium
        w 100%
        mt 30px
    &-namelist
      dfv()
      pos relative
      z-index 2
    &-nameitem
      w 100%
      & + &
        mt 15px
        @media $LandscapeMin
          mt 8px
    &-href
      c white
      fontify 28px 700 32px
      border-bottom 1px solid alpha(white, .25)
      transition .7s border-color, .7s color
      @media $lDesktopSmall
        fontify 24px 700 30px
      &:hover
        border-color transparent
        c $red
    &-about
      mt 17px
    &-infos
      df()
      flex-wrap wrap
      mt 25px
      ml -25px
      mb -24px
      w calc(100% + 25px)
    &-info
      pos relative
      ml 25px
      mb 24px
      &:before
        content ""
        pos absolute
        l 0
      &[data-type="time"]
        pl 29px
        &:before
          t 0
          size 19px 19px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAsVBMVEX///+2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyr////j04UvAAAAOXRSTlMAH3fB5vrCCpD34pEVztZaCwbIlQQqB4+WHvvXBQOGHCCAWaCKWIHE9gyhpcbn42YwpO546NVW9cOFV63fAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MEAQouIVvBno0AAADLSURBVBjTdZDXDsJADASXQIBQQkloRwudAKGFtv//Y5zhQhFiJT94ZN3ZA0hSVjpjZ7JWCklyeZtOgQWHdjH3RKUy3Uq1Ql0uyyVBtTo9H2hYDcD3WG9q1qKHd9psAR3V7Zm+Pxii11UBRhwnaMIpMOMci2Vo0IrrPhA6G0Tb3d6gg0b73fYIm4yFdU6CEJN8zSEQ9Jx7vWcSLjeYc/bF5F+9n/+BfFfv93NH/s+94uV8aYqX8dl40f6KiteHP5X4k93iW6SiWxw8ujsLMBhy/PLA8QAAAABJRU5ErkJggg==') no-repeat center
      &[data-type="weight"]
        pl 34px
        &:before
          t 0
          size 23px 17px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAARCAMAAAABrcePAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEX///+2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyr///+2kaszAAAAG3RSTlMA77vKzMPS8PERjKoIBRAOBnhLWkiZLZB+NuuAzarsAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MEAQovH4O7smcAAABmSURBVBjTnc7JDoAgDEXRqgiCE85C//8/LSGaFF0YzuIt7qIp4DfAoiSVKCNRhS2o10CkgkjJsHV2b3TUJP15hHfT3gzribze6R6GEay2vE84h78XXHhftx2OE9zm/tz37Zun/u0CD/YNgkANIcIAAAAASUVORK5CYII=') no-repeat center
      &[data-type="save"]
        pl 29px
        &:before
          t 0
          size 19px 19px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAxlBMVEW2Kyr///+2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyr////1dN9QAAAAQHRSTlMAAB93weX5wgmO+vfSu48KFc7WWgsGyJUEB5Ye+9cFIIBZA4YcWIHE9gygisbm0aGl7b6k0N2v/TyQ1VaR9XjDH8RLtwAAAAFiS0dEAf8CLd4AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBAEKMjY+ZUYXAAAA4klEQVQY03WQbVPCMBCENyCoLRYoLy1aqIQXqVCqoKiIsP//V3FJYGTGcT/lnsnd7S1gVCpfVaqV63IJUEoZcnPr0a/d1Xx6Qd2xRpNhqy2Pditks2FYp8sohlMcsdsTFjDCr+4ZKDwk/cEFG/STFI8cnms9GgMTTvE0y87omXMg8xfIl1KORxq64IsWf8tXVFfC5iw6BdeCoFZE/mba1nx3yP5z8/TmY2MRstkCU07sgk+H7F7xF1/4i0Px9+eOr3/uNblsv3sml+H2lAtQ3yX8sfklu1N+onR/yL38sE9tzkd9JBom8TuSrgAAAABJRU5ErkJggg==') no-repeat center
  &__bottom
    bgc #fafafa
    c $dark
    padding 63px 0 137px
    @media $LandscapeMax
      padding 33px 0 100px
    &-title
      fontify 44px 700 48px
      margin 70px 0 39px
      @media $lDesktopSmall
        fontify 36px 700 40px
      @media $PortraitMax
        fontify 30px 700 34px
      @media $PortraitMedium
        fontify 24px 700 28px
  &__toall
    ib()
    mt 45px
    c $dark
    fontify 16px 500 16px
    border-bottom 1px solid alpha($dark, .25)
    transition .7s border-color
    &:hover
      border-color transparent
  &__cols
    df(stretch, space-between)
    @media $LandscapeMax
      align-items flex-start
      justify-content flex-start
      flex-direction column
      pr 100px
    @media $LandscapeMin
      pr 0
  &__col
    w calc(50% - 18px)
    &:last-child
      pl 5%
      pr 100px
      @media $desktopMax
        pl 0
      @media $LandscapeMax
        pr 0
    @media $lDesktopSmall
      w calc(50% - 16px)
    @media $LandscapeMax
      w 100%
      & + &
        mt 20px
  &__top
    pt 34px
    pb 140px
    @media $LandscapeMax
      pb 100px
  &__about
    c white
    fontify 24px 500 28px
    @media $lDesktopSmall
      fontify 20px 500 28px
      pr 3%
    @media $LandscapeMax
      pr 0
    span
      c $red
  &__order
    mt 43px
  &__grey
    pos relative
    z-index 1
    c $dark
    padding 89px 0
    &:before
      content ""
      pos absolute
      z-index -1
      t 0
      l 0
      size 100%
      bgc #f6f6fa
    & ^[0]__cols
      align-items center
    &-title
      fontify 44px 700 48px
      mb 32px
      @media $lDesktopSmall
        fontify 36px 700 40px
      @media $desktopMax
        max-width 520px
      @media $PortraitMax
        fontify 30px 700 34px
      @media $PortraitMedium
        fontify 24px 700 28px
    &-text
      max-width 570px
  &__price
    c white
    dfv(flex-start, center)
    size 456px 449px
    background url('../i/price-bg.png') no-repeat center
    padding 0 58px
    @media $desktopMedium
      size 412px 406px
      background-size cover
    @media $LandscapeMax
      size 100% auto
      background none
      c $dark
      padding 0
      mt 30px
    &-title
      fontify 30px 700 34px
      @media $lDesktopSmall
        fontify 24px 700 30px
    &-text
      mt 18px
  &__cause
    padding 130px 0
    @media $LandscapeMax
      padding 90px 0
    &-title
      fontify 44px 700 48px
      mb 43px
      max-width 720px
      @media $lDesktopSmall
        fontify 36px 700 40px
      @media $PortraitMax
        fontify 30px 700 34px
      @media $PortraitMedium
        fontify 24px 700 28px
    &-list
      df()
      flex-wrap wrap
      max-width 1108px
      ml -36px
      mb -36px
      w calc(100% + 36px)
      counter-reset myCounter
      @media $lDesktopSmall
        ml -32px
        w calc(100% + 32px)
      @media $desktopMax
        pr 100px
      @media $LandscapeMax
        max-width 800px
      @media $LandscapeMin
        max-width inherit
        pr 0
    &-item
      pos relative
      w calc(100% / 3 - 36px)
      ml 36px
      mb 44px
      pl 80px
      fontify 16px 400 26px
      @media $lDesktopSmall
        fontify 15px 400 25px
        w calc(100% / 3 - 32px)
        ml 32px
        mb 40px
      @media $LandscapeMax
        w calc(50% - 32px)
      @media $PortraitMax
        w calc(100% - 32px)
        min-height 48px
      &:before
        counter-increment myCounter
        content counter(myCounter)
        pos absolute
        l 0
        t -4px
        text-align center
        fontify 24px 500 58px
        size 60px 58px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA6CAMAAADbe8pdAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAk1BMVEW2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyq2Kyr///8MHe8TAAAAL3RSTlMAAUzDBV3TC27gE3/rgBQfkPSRLKL6PLP+TcRe1G/h4nCB7O2S9S2j+z20X9VOxe6XyQgAAAABYktHRDCu3C3kAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wQBDg4CaytjgQAAAQRJREFUSMftl8cWgjAUBUFRLEDsBhFQwULR/P/fSYIVSYOdJ7Of1V28eZpGR+90ux1da4LR66OCfs+QVs3BED0YDkwpdTS20AeW7QirYDJFFaYzIKTOF0tUw3Ix56qrNUQU4HrFMnV3g5hsXNpyhrdFXLZe3XKmH/BVTLirLufsD2IqJtp/Lgfio7iKOcbP5U7ni5yKuZxPhZqkUF7FwDTRmpklSlaykpWsZCX/t9zqxLY67i2zogyaSFz9DhqSUrtQTP1NKRJxWc5X84yW3/qVk4+3KzP8WeFKtmmWzK9t2IBZ41gny9lfKXqQeBPIcu8IDny5B4UsV+Z3fWDzKcKfnvaYOzLt5FtMaAYZAAAAAElFTkSuQmCC') no-repeat center
        @media $lDesktopSmall
          fontify 20px 500 58px
          t -6px
        @media $PortraitMax
          t -17px