.summary
  mt 65px
  &__title
    c $dark
    fontify 44px 700 48px
    mb 34px
    @media $lDesktopSmall
      fontify 36px 700 40px
      mb 17px
    @media $PortraitMax
      fontify 30px 700 34px
  &__subtitle
    c $dark
    fontify 16px 400 25px
    mb 36px
    @media $lDesktopSmall
      fontify 15px 400 25px
      mb 33px
    span
      font-size 18px
      c $red