.types
  padding 100px 0
  @media $desktopMin
    .h-col1
      dn()
    .h-wrapper
      pl calc(8.333333333333332%)
  @media $LandscapeMin
    .h-wrapper
      pl 0
  @media $PortraitMax
    padding 70px 0
  &__about
    mt -11px
    @media $desktopMin
      /body.index &
        w 100%
        flex 0 0 100%
        max-width none
    &-title
      c $dark
      fontify 60px 700 64px
      mb 33px
      ml -4px
      @media $lDesktopSmall
        fontify 48px 700 52px
      @media $dekstop1142
        fontify 42px 700 46px
        mb 20px
      @media $desktopMin
        ml 0
      @media $LandscapeMin
        fontify 38px 700 42px
      @media $PortraitMax
        max-width 300px
      i
        pos relative
        font-style normal
        @media $LandscapeMaxFrom
          b 100%
          transition 1s bottom
          /.h-anim[visible] &
            b 0
      span
        @media $LandscapeMaxFrom
          pos relative
          db()
          oh()
          h 46px
        @media $dekstop1142From
          h 52px
        @media $lDesktopSmallFrom
          h 64px
        &:nth-child(1)
          i
            transition-delay .1s
        &:nth-child(2)
          i
            transition-delay .2s
        &:nth-child(3)
          c $red
          i
            transition-delay .3s
    &-text
      pr 20px
  &__list
    df(stretch, flex-start)
    flex-wrap wrap
    @media $desktopMin
      /body.index &
        w 100%
        flex 0 0 100%
        max-width none
        mt 40px
  &__item
    w 50%
    pos relative
    border-right 1px solid #eaebf3
    border-bottom 1px solid #eaebf3
    padding 22px 48px
    min-height 234px
    bgc $blue
    oh()
    @media $lDesktopSmall
      min-height 185px
    @media $desktopMedium
      padding 22px 29px
    @media $LandscapeMin
      padding 30px
      bgc white
    @media $PortraitMediumFrom
      &:nth-child(1),
      &:nth-child(2)
        border-top 1px solid #eaebf3
      &:nth-child(2n-1)
        border-left 1px solid #eaebf3
    @media $PortraitMedium
      w 100%
      border-bottom 1px solid #eaebf3
      border-left 1px solid #eaebf3
      &:first-child
        border-top 1px solid #eaebf3
    &:before
      content ""
      pos absolute
      z-index 1
      l 366px
      t -95%
      pt 132%
      w 100%
      bgc white
      transform rotate(64deg)
      transform-origin 0 0
      transition .7s width
      @media $lDesktopSmall
        t -115%
        l 403px
        pt 165%
      @media $desktopMax
        l 340px
      @media $desktopMedium
        l 320px
        t -85%
      @media $desktopMin
        transform none
        l 0
        t 0
        size 100%
        transition .7s opacity
    &-bg
      pos absolute
      t 0
      l 0
      size 100%
      background-size cover
      background-repeat no-repeat
      background-position center
      z-index 0
      opacity .35
      @media $LandscapeMin
        dn()
    &-namelist
      dfv()
      pos relative
      z-index 2
      max-width 275px
      @media $lDesktopSmall
        max-width 245px
    &-name
      & + &
        mt 15px
        @media $LandscapeMin
          mt 8px
    &-href
      c $dark
      fontify 20px 500 30px
      bb_invert()
      transition 1s color, .7s border-color
      @media $lDesktopSmall
        fontify 18px 500 28px
      @media $LandscapeMin
        fontify 15px 500 25px
    &-icon
      pos absolute
      r 41px
      b 41px
      z-index 2
      transition .5s filter
      @media $lDesktopSmall
        r 31px
        b 31px
      @media $LandscapeMin
        pos relative
        l 0
        t 0
        r auto
        b auto
        z-index 1
        mb 18px
    /html.no-touchevents &:hover
      &:before
        w 0%
        @media $desktopMin
          w 100%
          opacity 0
      & ^[-1]-href
        c white
        border-color alpha(white, .25)
        &:hover
          border-color transparent
      & ^[-1]-icon
        filter brightness(0) invert(1)