mixin btn(text, popup=false, src='#')
  if popup
    button(class!=attributes.class, data-popup, data-src=src, type="button", arial-label=text)= text
  else
    button(class!=attributes.class type="button", arial-label=text)= text