mixin fakecheckbox(name="agreement1")
  .fakecheckbox
    input(type="checkbox", value="", name=name, checked, id=name).fakecheckbox__truecheck
    label(for=name).fakecheckbox__label Даю согласие на обработку 
      a(href="#") персональных&nbsp;данных